.list{
    list-style: none;
    margin-top: 30px;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.item{
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin-bottom: 30px;

}

.item a{
    padding: 20px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #333333;
}

.item-header{
    display: flex;
    justify-content: space-between;
}
