.content{
    display: flex;
    flex-direction: column;
}

.area-logout{
    margin:  75px 100px;
    max-width: 600px;
}

.content-main{
    display: flex;
    margin:  75px auto;
    max-width: 600px;
    width: 100%;
    justify-content: space-around;
}
