*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal-content{
    padding: 20px;
}

.button-back{
    padding: 12px;
    position: absolute;
}

.button-back:active{
    outline: none;
}

.button-back:focus{
    outline: none;
}

.button-back:hover{
    border: none;
    transform: scale(1.1);
}

.content{
    margin-top: 30px;
}

h4{
    margin-top: 30px;
}

header{
    display: flex;
    justify-content: space-between;
}

.list-actions{
    display: flex;
}

.list-actions button,
.list-actions a{
    margin-right: 20px;
    height: 40px;
}

.title-list{
    text-align: center;
}

.title{
    margin-top: 6px;
}

.link-title{
    color: #333333;
}
